In [1]:
import pandas as pd

In [2]:
url = 'https://www.insee.fr/fr/statistiques/fichier/1893198/estim-pop-dep-sexe-gca-1975-2023.xls'

In [3]:
noms_colonnes=['numero_dep','dep','total_habitants']
pop_test = pd.read_excel(url, sheet_name='2023',skiprows=3,header=1, usecols = [0,1,7], skipfooter=4, names=noms_colonnes)
pop_test

#pop_test2 = pop_test.set_index(['Num_dep ', 'Nom_dep'])
#pop_test2

#pop_test3 = pop_test.drop(df.index[:3])
#print(pop_test3)

    numero_dep                      dep  total_habitants
0           01                      Ain           671937
1           02                    Aisne           522791
2           03                   Allier           332443
3           04  Alpes-de-Haute-Provence           166654
4           05             Hautes-Alpes           139942
..         ...                      ...              ...
97         971              Guadeloupe            375845
98         972              Martinique            347686
99         973                   Guyane           301099
100        974               La Réunion           873102
101        976                  Mayotte           310022

[102 rows x 3 columns]

In [6]:
# Renommer la colonne 'dep' en 'nom_dep' pour ne pas créer de confusion par la suite
pop_test = pop_test.rename(columns={'dep': 'nom_dep'})

In [7]:
pop_test.to_csv('base_pop_dep.csv')