In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
!pip install --upgrade xlrd #colab bug verson xlrd
!pip install geopandas
!pip install pandas fiona shapely pyproj rtree
!pip install contextily
!pip install pygeos
!pip install topojson
import geopandas as gpd
import contextily as ctx
import matplotlib.pyplot as plt
#!pip install requests py7zr geopandas openpyxl tqdm s3fs PyYAML xlrd
#!pip install git+https://github.com/inseefrlab/cartiflette@80b8a5a28371feb6df31d55bcc2617948a5f9b1a

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 2.9 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Requirement already satisfied: geopandas in /opt/mamba/lib/python3.10/site-packages (0.14.1)
Requirement already satisfied: fiona>=1.8.21 in /opt/mamba/lib/python3.10/site-packages (from geopandas) (1.9.3)
Requirement already satisfied: packaging in /opt/mamba/lib/python3.10/site-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.4.0 in /opt/mamba/lib/python3.10/site-packages (from geopandas) (2.1.3)
Requirement already satisfied: pyproj>=3.3.0 in /opt/mamba/lib/python3.10/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in /opt/mamba/lib/python3.10/site-packages (from geopandas) (2.0.2)
Requirement already satisfied: attrs>=19.2.0 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (23.1.0)
Requirement already satisfied: certifi in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (2023.11.17)
Requirement already satisfied: click~=8.0 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: munch>=2.3.2 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8.21->geopandas) (4.0.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.16.0)
Requirement already satisfied: pandas in /opt/mamba/lib/python3.10/site-packages (2.1.3)
Requirement already satisfied: fiona in /opt/mamba/lib/python3.10/site-packages (1.9.3)
Requirement already satisfied: shapely in /opt/mamba/lib/python3.10/site-packages (2.0.2)
Requirement already satisfied: pyproj in /opt/mamba/lib/python3.10/site-packages (3.6.1)
Requirement already satisfied: rtree in /opt/mamba/lib/python3.10/site-packages (1.1.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /opt/mamba/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/mamba/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: attrs>=19.2.0 in /opt/mamba/lib/python3.10/site-packages (from fiona) (23.1.0)
Requirement already satisfied: certifi in /opt/mamba/lib/python3.10/site-packages (from fiona) (2023.11.17)
Requirement already satisfied: click~=8.0 in /opt/mamba/lib/python3.10/site-packages (from fiona) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /opt/mamba/lib/python3.10/site-packages (from fiona) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/mamba/lib/python3.10/site-packages (from fiona) (0.7.2)
Requirement already satisfied: munch>=2.3.2 in /opt/mamba/lib/python3.10/site-packages (from fiona) (4.0.0)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting contextily
  Downloading contextily-1.4.0-py3-none-any.whl.metadata (2.9 kB)
Collecting geopy (from contextily)
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: matplotlib in /opt/mamba/lib/python3.10/site-packages (from contextily) (3.8.2)
Collecting mercantile (from contextily)
  Downloading mercantile-1.2.1-py3-none-any.whl (14 kB)
Requirement already satisfied: pillow in /opt/mamba/lib/python3.10/site-packages (from contextily) (10.1.0)
Collecting rasterio (from contextily)
  Downloading rasterio-1.3.9-cp310-cp310-manylinux2014_x86_64.whl.metadata (14 kB)
Requirement already satisfied: requests in /opt/mamba/lib/python3.10/site-packages (from contextily) (2.31.0)
Requirement already satisfied: joblib in /opt/mamba/lib/python3.10/site-packages (from contextily) (1.3.2)
Requirement already satisfied: xyzservices in /opt/mamba/lib/python3.10/site-packages (from contextily) (2023.10.1)
Collecting geographiclib<3,>=1.52 (from geopy->contextily)
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 665.1 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: contourpy>=1.0.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (1.26.2)
Requirement already satisfied: packaging>=20.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->contextily) (2.8.2)
Requirement already satisfied: click>=3.0 in /opt/mamba/lib/python3.10/site-packages (from mercantile->contextily) (8.1.7)
Collecting affine (from rasterio->contextily)
  Downloading affine-2.4.0-py3-none-any.whl (15 kB)
Requirement already satisfied: attrs in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (23.1.0)
Requirement already satisfied: certifi in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (2023.11.17)
Requirement already satisfied: cligj>=0.5 in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (0.7.2)
Collecting snuggs>=1.4.1 (from rasterio->contextily)
  Downloading snuggs-1.4.7-py3-none-any.whl (5.4 kB)
Requirement already satisfied: click-plugins in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (1.1.1)
Requirement already satisfied: setuptools in /opt/mamba/lib/python3.10/site-packages (from rasterio->contextily) (68.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/mamba/lib/python3.10/site-packages (from requests->contextily) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/mamba/lib/python3.10/site-packages (from requests->contextily) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/mamba/lib/python3.10/site-packages (from requests->contextily) (1.26.18)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->contextily) (1.16.0)
Downloading contextily-1.4.0-py3-none-any.whl (16 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 kB 4.5 MB/s eta 0:00:00
Downloading rasterio-1.3.9-cp310-cp310-manylinux2014_x86_64.whl (20.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.6/20.6 MB 2.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: snuggs, mercantile, geographiclib, affine, rasterio, geopy, contextily
Successfully installed affine-2.4.0 contextily-1.4.0 geographiclib-2.0 geopy-2.4.1 mercantile-1.2.1 rasterio-1.3.9 snuggs-1.4.7
Collecting pygeos
  Downloading pygeos-0.14-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 15.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.13 in /opt/mamba/lib/python3.10/site-packages (from pygeos) (1.26.2)
Installing collected packages: pygeos
Successfully installed pygeos-0.14
Collecting topojson
  Downloading topojson-1.7-py2.py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: numpy in /opt/mamba/lib/python3.10/site-packages (from topojson) (1.26.2)
Requirement already satisfied: shapely in /opt/mamba/lib/python3.10/site-packages (from topojson) (2.0.2)
Requirement already satisfied: packaging in /opt/mamba/lib/python3.10/site-packages (from topojson) (23.1)
Downloading topojson-1.7-py2.py3-none-any.whl (82 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.1/82.1 kB 1.9 MB/s eta 0:00:0000:01
Installing collected packages: topojson
Successfully installed topojson-1.7

In [2]:
#test_1 = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/5f71ba43-afc8-43a0-b306-dafe29940f9c", sep = ";", encoding = 'utf-8', engine = 'python')
#le lien du dossier data.gouv : 
# https://www.data.gouv.fr/fr/datasets/effectif-de-patients-par-pathologie-sexe-classe-dage-et-territoire-departement-region/
# methode "classique" pour obtenir un dataset a partir d un lien 
# probleme d encodage d ou les parametres sep, encoding, engine
# A FAIRE : COPIER LA BASE DE FACON LOCALE ET S Y REFERER PAR LA SUITE PAR EFFECTIFS.CSV

In [3]:
test_2 = pd.read_csv("effectifs.csv", sep = ";", encoding = 'utf-8', engine = 'python')
#commande a utiliser une fois qu on a la base 
#copiee en local 
#la base au prealable telechargee sur ordi perso

In [4]:
test_2.head()
test_2.shape

(4057201, 16)

In [5]:
print("nombre de categories differentes pour niv2 est :"+str(len(test_2['patho_niv2'].unique())))
print("nombre de categories differentes pour niv3 est :"+str(len(test_2['patho_niv3'].unique())))

nombre de categories differentes pour niv2 est :46
nombre de categories differentes pour niv3 est :59

In [6]:
#potentiellement creer 123 colonnes pour pouvoir faire du clustering 
#comparer les clusters obtenus par les caracteristiques d un inidivu pour voir si ca matche ou pas

In [7]:
data_gen = test_2

In [8]:
print(test_2.shape, data_gen.shape)

(4057201, 16) (4057201, 16)

In [9]:
liste_diff_patho1 = data_gen['patho_niv1'].unique()
liste_diff_patho2 = data_gen['patho_niv2'].unique()
liste_diff_patho3 = data_gen['patho_niv3'].unique()

print(liste_diff_patho1, "\n", liste_diff_patho2, "\n", liste_diff_patho3)

['Pas de pathologies repérées, traitements, maternité, hospitalisations ni traitement antalgique ou anti-inflammatoire'
 'Séjours en hospitalisation complète pour prise en charge de la Covid-19'
 'Traitements du risque vasculaire (hors pathologies)'
 'Maladies inflammatoires ou rares ou VIH ou SIDA'
 'Maladies neurologiques ou dégénératives'
 'Traitements psychotropes (hors pathologies)'
 'Traitement antalgique ou anti-inflammatoire (hors pathologies, traitements, maternité ou hospitalisations)'
 'Maladies psychiatriques' nan
 'Autres affections de longue durée (dont 31 et 32)' 'Cancers'
 'Maladies cardio-neurovasculaires'
 'Maladies du foie ou du pancréas (hors mucoviscidose)' 'Diabète'
 'Hospitalisations ponctuelles (avec ou sans pathologies, traitements ou maternité)'
 'Maladies respiratoires chroniques (hors mucoviscidose)'
 'Maternité (avec ou sans pathologies)'
 'Insuffisance rénale chronique terminale']
 [nan
 'Séjours en hospitalisation complète pour prise en charge de la Covid-19'
 'Traitements antihypertenseurs (hors pathologies)' 'VIH ou SIDA'
 'Autres affections neurologiques'
 "Traitements antidépresseurs ou régulateurs de l'humeur (hors pathologies)"
 'Traitements anxiolytiques (hors pathologies)' 'Troubles addictifs'
 "Troubles névrotiques et de l'humeur"
 "Troubles psychiatriques ayant débuté dans l'enfance"
 'Traitements hypolipémiants (hors pathologies)'
 'Traitements hypnotiques (hors pathologies)'
 'Autres affections de longue durée (dont 31 et 32)'
 'Traitements neuroleptiques (hors pathologies)' 'Autres cancers'
 'Cancer colorectal' 'Épilepsie' 'Autres troubles psychiatriques'
 'Maladie valvulaire' 'Troubles du rythme ou de la conduction cardiaque'
 'Maladies du foie ou du pancréas (hors mucoviscidose)'
 'Maladies inflammatoires chroniques' 'Maladies rares'
 'Cancer du sein de la femme' 'Diabète'
 'Hospitalisations ponctuelles (avec ou sans pathologies, traitements ou maternité)'
 'Troubles psychotiques'
 'Maladies respiratoires chroniques (hors mucoviscidose)'
 'Maternité (avec ou sans pathologies)' 'Déficience mentale'
 'Insuffisance cardiaque' 'Sclérose en plaques' 'Paraplégie'
 "Démences (dont maladie d'Alzheimer)" 'Maladie de Parkinson'
 'Myopathie ou myasthénie' 'Artériopathie oblitérante du membre inférieur'
 'Autres affections cardiovasculaires' 'Maladie coronaire'
 'Accident vasculaire cérébral' 'Embolie pulmonaire aiguë'
 'Dialyse chronique' 'Transplantation rénale' 'Cancer du poumon'
 'Suivi de transplantation rénale' 'Cancer de la prostate']
 [nan
 'Séjours en hospitalisation complète pour prise en charge de la Covid-19'
 'Traitements antihypertenseurs (hors pathologies)' 'VIH ou SIDA'
 'Autres affections neurologiques'
 "Traitements antidépresseurs ou régulateurs de l'humeur (hors pathologies)"
 'Traitements anxiolytiques (hors pathologies)' 'Troubles addictifs'
 "Troubles névrotiques et de l'humeur"
 "Troubles psychiatriques ayant débuté dans l'enfance"
 'Traitements hypolipémiants (hors pathologies)'
 'Traitements hypnotiques (hors pathologies)'
 'Autres affections de longue durée (dont 31 et 32)'
 'Traitements neuroleptiques (hors pathologies)' 'Autres cancers actifs'
 'Autres cancers sous surveillance' 'Épilepsie'
 'Autres troubles psychiatriques' 'Maladie valvulaire'
 'Troubles du rythme ou de la conduction cardiaque'
 'Maladies du foie ou du pancréas (hors mucoviscidose)'
 'Autres maladies inflammatoires chroniques'
 'Maladies inflammatoires chroniques intestinales'
 "Hémophilie ou troubles de l'hémostase graves"
 'Maladies métaboliques héréditaires ou amylose'
 'Spondylarthrite ankylosante et maladies apparentées'
 'Polyarthrite rhumatoïde et maladies apparentées' 'Mucoviscidose'
 'Cancer du sein de la femme sous surveillance' 'Diabète'
 'Hospitalisations ponctuelles (avec ou sans pathologies, traitements ou maternité)'
 'Troubles psychotiques'
 'Maladies respiratoires chroniques (hors mucoviscidose)'
 'Maternité (avec ou sans pathologies)' 'Déficience mentale'
 'Insuffisance cardiaque aiguë' 'Insuffisance cardiaque chronique'
 'Sclérose en plaques' 'Paraplégie' "Démences (dont maladie d'Alzheimer)"
 'Maladie de Parkinson' 'Myopathie ou myasthénie'
 'Artériopathie oblitérante du membre inférieur'
 'Autres affections cardiovasculaires' 'Maladie coronaire chronique'
 "Séquelle d'accident vasculaire cérébral"
 'Accident vasculaire cérébral aigu' 'Syndrome coronaire aigu'
 'Embolie pulmonaire aiguë' 'Cancer du sein de la femme actif'
 'Dialyse chronique' 'Transplantation rénale'
 'Cancer du poumon sous surveillance' 'Cancer du poumon actif'
 'Suivi de transplantation rénale'
 'Cancer de la prostate sous surveillance' 'Cancer colorectal actif'
 'Cancer colorectal sous surveillance' 'Cancer de la prostate actif']

In [10]:
print(data_gen.shape, data_gen['patho_niv1'].isna().sum())

(4057201, 16) 52921

In [11]:
#Creation d une colonne individus
ind = []
for i in range (1,4057202) : 
    ind.append(i)

In [12]:
ind = pd.DataFrame(ind)
ind = ind.set_axis(['ind'], axis='columns')

In [13]:
data_gen_1 = pd.concat([ind, data_gen], axis = 1)

In [14]:
data_gen_1.head()

,ind,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,ntop,npop,prev,niveau_prioritaire,libelle_classe_age,libelle_sexe,tri
0,1,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,75,999,230570.0,393250.0,58.632,1,de 45 à 49 ans,tous sexes,17.0
1,2,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,11,14220.0,24330.0,58.451,1,de 45 à 49 ans,tous sexes,17.0
2,3,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,12,10630.0,17390.0,61.133,1,de 45 à 49 ans,tous sexes,17.0
3,4,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,30,30760.0,50820.0,60.539,1,de 45 à 49 ans,tous sexes,17.0
4,5,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,48,3000.0,4920.0,60.898,1,de 45 à 49 ans,tous sexes,17.0

In [15]:
data_gen = data_gen_1

In [16]:
#tentative de compréhension de ce que la variable npop représente
#b = data_gen['npop'].unique()
#b = pd.DataFrame(b)

In [17]:
#b = b.dropna()

In [18]:
#b = b.set_axis(['test'], axis = 'columns')

In [19]:
#b.head()

In [20]:
#sum(b['test'])

In [21]:
#resultat peu concluant

In [22]:
#creation d indicatrices pour futur clustering

In [23]:
liste_diff_patho3 = list(liste_diff_patho3)

In [24]:
#premier code pour creation d indicatrice

In [25]:
temporaire = []
for i in data_gen['patho_niv3'] : 
    if i == 'Syndrome coronaire aigu' :
        temporaire.append(1)
    else : 
        temporaire.append(0)

data_gen['Syndrome_coronaire_aigu_indicatrice'] = temporaire
data_gen = data_gen.drop(columns = ['Syndrome_coronaire_aigu_indicatrice'])
data_gen.head()

,ind,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,ntop,npop,prev,niveau_prioritaire,libelle_classe_age,libelle_sexe,tri
0,1,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,75,999,230570.0,393250.0,58.632,1,de 45 à 49 ans,tous sexes,17.0
1,2,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,11,14220.0,24330.0,58.451,1,de 45 à 49 ans,tous sexes,17.0
2,3,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,12,10630.0,17390.0,61.133,1,de 45 à 49 ans,tous sexes,17.0
3,4,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,30,30760.0,50820.0,60.539,1,de 45 à 49 ans,tous sexes,17.0
4,5,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,48,3000.0,4920.0,60.898,1,de 45 à 49 ans,tous sexes,17.0

In [26]:
def creation_indicatrice (colonne_de_depart, nom_de_maladie) : 
    temporaire = []
    for i in colonne_de_depart :
        if i == f"{nom_de_maladie}" :
            temporaire.append(1)
        else :
            temporaire.append(0)
    data_gen[f"{nom_de_maladie}_ind"] = temporaire

In [27]:
for i in liste_diff_patho3 : 
    creation_indicatrice(colonne_de_depart = data_gen['patho_niv3'], nom_de_maladie = i)

In [58]:
data_gen.shape

(4057201, 18)

In [29]:
#perte d un grand nombre de lignes 
#pb a regler
#pb regle, venait du test pour essayer de comprendre la variable npop

In [ ]:
liste_var = data_gen.columns[17:]
liste_bis = []
for i in liste_var : 
    liste_bis.append(i)

In [57]:
indicatrice_patho_niv3 = liste_bis 
print(indicatrice_patho_niv3)

['Séjours en hospitalisation complète pour prise en charge de la Covid-19_ind', 'Traitements antihypertenseurs (hors pathologies)_ind', 'VIH ou SIDA_ind', 'Autres affections neurologiques_ind', "Traitements antidépresseurs ou régulateurs de l'humeur (hors pathologies)_ind", 'Traitements anxiolytiques (hors pathologies)_ind', 'Troubles addictifs_ind', "Troubles névrotiques et de l'humeur_ind", "Troubles psychiatriques ayant débuté dans l'enfance_ind", 'Traitements hypolipémiants (hors pathologies)_ind', 'Traitements hypnotiques (hors pathologies)_ind', 'Autres affections de longue durée (dont 31 et 32)_ind', 'Traitements neuroleptiques (hors pathologies)_ind', 'Autres cancers actifs_ind', 'Autres cancers sous surveillance_ind', 'Épilepsie_ind', 'Autres troubles psychiatriques_ind', 'Maladie valvulaire_ind', 'Troubles du rythme ou de la conduction cardiaque_ind', 'Maladies du foie ou du pancréas (hors mucoviscidose)_ind', 'Autres maladies inflammatoires chroniques_ind', 'Maladies inflammatoires chroniques intestinales_ind', "Hémophilie ou troubles de l'hémostase graves_ind", 'Maladies métaboliques héréditaires ou amylose_ind', 'Spondylarthrite ankylosante et maladies apparentées_ind', 'Polyarthrite rhumatoïde et maladies apparentées_ind', 'Mucoviscidose_ind', 'Cancer du sein de la femme sous surveillance_ind', 'Diabète_ind', 'Hospitalisations ponctuelles (avec ou sans pathologies, traitements ou maternité)_ind', 'Troubles psychotiques_ind', 'Maladies respiratoires chroniques (hors mucoviscidose)_ind', 'Maternité (avec ou sans pathologies)_ind', 'Déficience mentale_ind', 'Insuffisance cardiaque aiguë_ind', 'Insuffisance cardiaque chronique_ind', 'Sclérose en plaques_ind', 'Paraplégie_ind', "Démences (dont maladie d'Alzheimer)_ind", 'Maladie de Parkinson_ind', 'Myopathie ou myasthénie_ind', 'Artériopathie oblitérante du membre inférieur_ind', 'Autres affections cardiovasculaires_ind', 'Maladie coronaire chronique_ind', "Séquelle d'accident vasculaire cérébral_ind", 'Accident vasculaire cérébral aigu_ind', 'Syndrome coronaire aigu_ind', 'Embolie pulmonaire aiguë_ind', 'Cancer du sein de la femme actif_ind', 'Dialyse chronique_ind', 'Transplantation rénale_ind', 'Cancer du poumon sous surveillance_ind', 'Cancer du poumon actif_ind', 'Suivi de transplantation rénale_ind', 'Cancer de la prostate sous surveillance_ind', 'Cancer colorectal actif_ind', 'Cancer colorectal sous surveillance_ind', 'Cancer de la prostate actif_ind']

In [32]:
liste_auxil = data_gen['cla_age_5'].unique()
print(liste_auxil)

['45-49' '50-54' '55-59' '60-64' '65-69' '70-74' '75-79' '80-84' '85-89'
 '90-94' '95et+' 'tsage' '00-04' '05-09' '10-14' '15-19' '20-24' '25-29'
 '30-34' '35-39' '40-44' nan]

In [33]:
#afin de pouvoir clusteriser par la suite, nous allons creer des classes d age qui sont "discretes"
#nous faisons ce choix car les classes d age sont relativement homogene et en prenant la moyenne des deux 
#bornes pour les classes, nous gardons l idee d une distance d age qui pourrait etre utile par la suite

In [34]:
test_de_split = data_gen['cla_age_5'][1].split('-')
print(test_de_split)
test_de_split[1] = int(test_de_split[1])
type(test_de_split[1])

['45', '49']

int

In [35]:
inter_excl = ('95et+', 'tsage', np.nan)

inter_def = []
for i in liste_auxil :
    if i in inter_excl : 
        inter_def = inter_def
    else : 
        inter_def.append(i)

In [36]:
print(inter_def)

['45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84', '85-89', '90-94', '00-04', '05-09', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44']

In [37]:
classe_age = []
for i in data_gen['cla_age_5'] : 
    if i in inter_def :
        temp = i.split('-')
        temp[0] = int(temp[0])
        temp[1] = int(temp[1])
        age = (temp[1] + temp[0])/2
    elif i == 'tsage' : 
        age = np.nan
    elif i == '95et+' : 
        age = 100
    else : 
        age = np.nan
    classe_age.append(age)

In [38]:
#pb a regler, il manque un truc pour eviter que ca bug fort
#probablement type a regler ou categorie a revoir
#code peu ergonomique mais solution la plus sure, 
#toutes les autres tentatives en posant des conditions sur le type de i 
#n ont pas ete solde par une reussite
#on a print nombre de valeurs de classe_age et le code fonctionne

In [39]:
data_gen['classe_age'] = classe_age

In [40]:
data_gen.head()

,ind,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,...,Dialyse chronique_ind,Transplantation rénale_ind,Cancer du poumon sous surveillance_ind,Cancer du poumon actif_ind,Suivi de transplantation rénale_ind,Cancer de la prostate sous surveillance_ind,Cancer colorectal actif_ind,Cancer colorectal sous surveillance_ind,Cancer de la prostate actif_ind,classe_age
0,1,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,75,999,...,0,0,0,0,0,0,0,0,0,47.0
1,2,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,11,...,0,0,0,0,0,0,0,0,0,47.0
2,3,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,12,...,0,0,0,0,0,0,0,0,0,47.0
3,4,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,30,...,0,0,0,0,0,0,0,0,0,47.0
4,5,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,48,...,0,0,0,0,0,0,0,0,0,47.0

In [41]:
data_patho_niv3 = data_gen

In [42]:
data_gen = data_gen.drop(indicatrice_patho_niv3, axis = 1)

In [45]:
#on cree un nouveau dataframe pour pouvoir faire des manipulations plus rapides sur le data_gen

In [46]:
data_gen.head()

,ind,annee,patho_niv1,patho_niv2,patho_niv3,top,cla_age_5,sexe,region,dept,ntop,npop,prev,niveau_prioritaire,libelle_classe_age,libelle_sexe,tri,classe_age
0,1,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,75,999,230570.0,393250.0,58.632,1,de 45 à 49 ans,tous sexes,17.0,47.0
1,2,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,11,14220.0,24330.0,58.451,1,de 45 à 49 ans,tous sexes,17.0,47.0
2,3,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,12,10630.0,17390.0,61.133,1,de 45 à 49 ans,tous sexes,17.0,47.0
3,4,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,30,30760.0,50820.0,60.539,1,de 45 à 49 ans,tous sexes,17.0,47.0
4,5,2017.0,"Pas de pathologies repérées, traitements, mate...",NaN,NaN,sup_Petit_Conso_exclu,45-49,9.0,76,48,3000.0,4920.0,60.898,1,de 45 à 49 ans,tous sexes,17.0,47.0

In [70]:
df_model = data_gen[['ind','classe_age' , 'region', 'dept']]

In [71]:
df_model_niv3 = pd.concat([df_model, data_patho_niv3[indicatrice_patho_niv3]], axis = 1)

In [72]:
#truc bizarre a reverifier mais il se peut qu'il y ait eu un petit bug avec une colonne nan_ind

In [73]:
df_model_niv3.head()

,ind,classe_age,region,dept,Séjours en hospitalisation complète pour prise en charge de la Covid-19_ind,Traitements antihypertenseurs (hors pathologies)_ind,VIH ou SIDA_ind,Autres affections neurologiques_ind,Traitements antidépresseurs ou régulateurs de l'humeur (hors pathologies)_ind,Traitements anxiolytiques (hors pathologies)_ind,...,Cancer du sein de la femme actif_ind,Dialyse chronique_ind,Transplantation rénale_ind,Cancer du poumon sous surveillance_ind,Cancer du poumon actif_ind,Suivi de transplantation rénale_ind,Cancer de la prostate sous surveillance_ind,Cancer colorectal actif_ind,Cancer colorectal sous surveillance_ind,Cancer de la prostate actif_ind
0,1,47.0,75,999,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,47.0,76,11,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,47.0,76,12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,47.0,76,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,47.0,76,48,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0